#!/bin/bash
export SERVER_BASE_URL=""
export GCP_PROJECT_ID=""

# Build widget
cd widget
npm run build
mkdir -p ../server/widget
cp dist/* ../server/widget

# Create deploy file
cd ../server
cat ./app.yaml.template | sed -e "s/{{SERVER_BASE_URL}}/$(echo ${SERVER_BASE_URL} | sed -r -e "s/\//\\\\\//g" -e "s/\./\\\./g")/" > app.yaml

# Deploy
gcloud app deploy --project ${GCP_PROJECT_ID}

# Clean up
rm app.yaml