@import "tailwindcss";

@import "@openai/apps-sdk-ui/css";
/* Required for Tailwind to find class references in Apps SDK UI components. */
@source "../node_modules/@openai/apps-sdk-ui";

@custom-variant dark (&:where(.dark, .dark *));
@source "../build.mjs";
@source "../serve.mjs";